
*{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.text-uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
