
p{
  font-family: Helvetica,Arial, sans-serif;
  line-height: 30px;
}
.menu{
  background: rgb(31,20,103);
  background: linear-gradient(298deg, rgba(31,20,103,1) 0%, rgba(42,19,92,1) 22%, rgba(142,157,190,1) 39%, rgba(146,160,217,1) 61%, rgba(185,150,203,1) 82%, rgba(0,212,255,1) 100%); 
  height: 50px;
  padding: 10px;
}

.menu li, .menu a{
  display: inline-block;
  font-size: 20px;
  padding: 0 10px 0 10px;
}
.menu_a a:hover{
  color: rgb(4, 6, 66);
}
.history{
  position: relative;
  opacity: 0.5;
  z-index: 0;
}
.history video{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.overlay-inline{
  margin-top: 10px;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
}
.inline:hover{
  border:1px solid black;
  background:red;
}
.history:hover{
  opacity: 1;
}
.history h3{
  margin-top: 10px;
}
.bold-h1{
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.languages{
  background: url(./img/paper-1914901_1920.jpg) center no-repeat;
}
.text-uppercase-ul{
  text-transform: uppercase;
  margin-top: 25px;
  line-height: 25px;
}
.container{
  display: flex;
  min-height: 300px;
  justify-content: space-around;
  text-align: center;
  padding:  20px 0 20px 0;
  align-items: center;

}
.work {
  border: 1px solid black;
  margin: 15px 20px;
  color: white;

}
.work:hover{
opacity: 0.7;
} 
.work, a{
  color: white;
  height: 100%;
}
.work h3{
  font-size: 30px;
  width: 100%;
}
.work_1{
  background: url(./img/guitar.jpg) center  no-repeat;
  padding: 10px;
}

.work_2{
  background: url(./img/family.jpg) center no-repeat;
  padding: 10px;
}
.work_3{
  background: url(./img/euro-1353420_1280.jpg) center  no-repeat;
  padding: 10px;
}
.footer{
  background: rgb(31,20,103);
background: linear-gradient(298deg, rgba(31,20,103,1) 0%, rgba(42,19,92,1) 22%, rgba(142,157,190,1) 39%, rgba(146,160,217,1) 61%, rgba(185,150,203,1) 82%, rgba(0,212,255,1) 100%);
padding: 10px;
height: 50px;
}
.footer a{
  color:rgb(146, 146, 146);
} 
.footer-copy{
  text-align: center;
  color: rgb(160, 159, 159);
}
.footer a:link{
  color: rgb(160, 159, 159);
}
.footer a:visited{
  color: red;
}
.footer a:hover{
  color: rgb(4, 6, 66);
}
.footer a:focus{
color: blueviolet;
}
.footer a:active{
  color:blue;
}